Django==1.9.7
MySQL-python==1.2.5
argparse==1.2.1
dj-database-url==0.4.2
django-bootstrap3==8.2.3
django-filter==1.0.4
psycopg2==2.7.1
python-decouple==3.0
whitenoise==3.3.0
wsgiref==0.1.2
gunicorn==19.6.0
