<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'includes/bootstrap/dist/css/bootstrap.css' %}">
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div class="container">
		<h1>Welcome Guest</h1>
		<a href="/search/" class="btn btn-primary" role="button">Search Data </a>
		<a href="/add_entry/" class="btn btn-primary" role="button">Add New Entry</a>
		<a href="/predict_best/" class="btn btn-primary" role="button">Predict best truck</a>
		<a href="/populate/" class="btn btn-primary" role="button">Populate</a>
		
	</div>
	
</body>
</html>
