<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'includes/bootstrap/dist/css/bootstrap.css' %}">
  <meta charset="UTF-8">
  <title>Search food list</title>
</head>
<body>
  <h1>Search options:</h1>
  <div class="container">
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary" >Search</button>
      </form>
      <table style="width:100%">

        <tr>
          <th>
            Location Id
          </th>
          <th>
            Applicant Name
          </th> 
          <th>
            Address
          </th>
          <th>
            Status
          </th>
          <th>
            Delete Item(yes/no)
          </th>
        </tr>
        {% for foodpermit in filter.qs %}
          <form method="post">
            {% csrf_token %}
              <tr>
                <th>
                  {{ foodpermit.locationid }} 
                </th>
                <th> 
                  {{ foodpermit.applicant }}
                </th> 
                <th>
                  {{ foodpermit.address }}
                </th>
                <th>
                 {{ foodpermit.status }}
                </th>
                <th>
                  <button type="submit" value="Delete">Delete</button>
                </th>
              </tr>
            {% endfor %}
          </table>
      </form>
    </div>
  </body>
</html>